@model IEnumerable<lab2_v2.Models.Vouchers>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.voucherName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numberOfPeople)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nutrition)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.accommodation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hot)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.discount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tours.tourName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.voucherName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numberOfPeople)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nutrition)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.accommodation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hot)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.discount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tours.tourName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idVoucher }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idVoucher })
        </td>
    </tr>
}

</table>
